<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    <add name="dbConnectionString" connectionString="server=.;database=Advanced;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
   <add key="dbConnectionString" value="server=(local);database=Advanced;uid=sa;pwd=123456; MultipleActiveResultSets=True"/>
    <add key="dbContext" value="SystemSolution.Data.SqlServerContext,SystemSolution.Data"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
